@if (profile){

<div class="profile-card">
    <div class="profile-card-content">
        <img class="profile-card-content-image" src="/assets/images/profile-image.png" alt="Profile Image">
        <div class="profile-card-content-name">
            <strong class="h6">John Doe</strong>
            <span>john</span>
        </div>
    </div>

    <div class="profile-card-description">
        text
    </div>

    <div class="profile-card-tags">
        <div class="skill-tag">Angular</div>
        <div class="skill-tag">React</div>
        <div class="skill-tag">Java</div>
        <div class="skill-tag">Python</div>
    </div>

    <div class="profile-card-action-btn">
        <button class="btn">Follow</button>
    </div>
</div>
}