@if (profile){

<div class="profile-card">
    <div class="profile-card-content">
        <img class="profile-card-content-image" [src]="profile.avatarUrl | imgUrl" alt="Profile Image">
        <div class="profile-card-content-name">
            <strong class="h6">{{profile.firstName | translit }} {{profile.lastName | translit }}</strong>
            <span>{{profile.username}}</span>
        </div>
    </div>

    <div class="profile-card-description">
        {{profile.description | translit }}
    </div>

    <div class="profile-card-tags">
        @for(skill of profile.stack; track skill){
        <div class="skill-tag">
            {{skill}}
        </div>
        }
    </div>

    <div class="profile-card-action-btn">
        <button class="btn">Follow</button>
    </div>
</div>
}